body{
	width: 1280px;
	margin: 0 auto;
	font-family: arial;
}

.padding-site {
	padding: 50px;
	box-sizing: border-box;
}

.main-header {
	margin: 0;
	width: 100%;
	background-color: #445162;
	color: white;
}

.main-header:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.main-header-wrp {
	margin: 0;
	float: left;
}
.main-header-title {
	margin: 0;
	font-size: 60px;

}
.main-header-list {
	padding: 0 0 0 20px;
	margin: 20px 0 0 0;
}
.main-header-list-item {
	list-style-type: none;
	position: relative;
	font-size: 20px;
	margin: 0 0 20px 0;
}

.main-header-list-item:before{
	content: "";
	display: block;
	height: 13px;
    width: 17px;
    position: absolute;
    top: 4px;
    left: -20px;
    background-image: url("../img/check icon.png");
    background-size: cover;
}

.main-header-list-item:last-child {
margin: 0;
}


.main-header-img {
	display: block;
	background-color: white;
	min-height: 215px;
	color: black;
	float: right;
}

.about:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.about-wrp {
	float: left;
	max-width: 650px;
}
.about-title {
	font-size: 30px;
	color: #445161;
	margin: 0px;

}
.about-p {
	max-width: 660px;
	font-size: 16px;
	color: #445161;
	margin: 20px 0 0 0;
}

.about-video {
	background-color: #445161;
	display: block;
	float: right;
}

.dignity {
	background-color: #f5f5f5;
}

.dignity:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.dignity-wrp {
}

.dignity-title {
	margin: 0 0 30px 0;	
	font-size: 30px;
	color: #445161;
	text-align: center;	
}

.dignity-details {	
	font-size: 16px;
	max-width: 50%;
	display: block;
	line-height: 24px;
	margin: 0;
	color: #333333;
}

details{
	padding: 0 0 0 40px;
	margin: 0 0 40px 0;
}

details:last-child {
	margin: 0;
}

.details-left {
		float: left;	
}

.details-right {
		float: right;	
}

details summary{
	position: relative;
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none
}

/* Добавляем собственный маркер для закрытого состояния */
details summary:before {
  	content: "";
	display: block;
	height: 33px;
    width: 33px;
    background-color: #445161;
    background-image: url("../img/plus.png");
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -40px;     
}

.screenshots:after {
content: "";
display: block;
width: 100%;
clear: both;
}

.screenshots-title {
	margin-top:0;
	text-align: center;
	font-size: 30px;
	color: #445161;
}
.screenshots-left {
	display: block;
	float: left;
	max-width: 50%;
}

.screenshots-right {
	display: block;
	float: right;
	max-width: 50%;
}

.screenshots-figcaption{
	margin: 0;
}

.screenshots-figcaption:after {
content: "";
display: block;
width: 100%;
clear: both;
}

.screenshots-figure {
	margin: 0 0 20px 0;
}

.screenshots-figure:last-child {
margin: 0;
}

.screenshots-img {
	margin: 0 10px 0 0;
	display: block;
	background-color: #445161;
	float: left;
}
.screenshots-h3 {
	margin: 0;
	font-size: 24px;
	color: #445161;
}

.screenshots-text {
	margin: 10px 0 0 0;
	font-size: 16px;
	line-height: 24px;
	color: #333;
}

.reviews {
	margin: 0;
	width: 100%;
	background-color: #f5f5f5;
}
.reviews-wrap {
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-around;	
}

.reviews-title {
	margin: 0 0 35px 0;
	font-size: 30px;
	color: #445161;
	text-align: center;	
}

.reviews-item {
	width: 50%;
	display: flex;
	margin: 0 0 20px 0;
}

.reviews-item:nth-child(3),
.reviews-item:nth-child(4) {
	margin: 0;
}

.reviews-item-img {
	background-color: #445161;
	border-radius: 50%;
	margin: 0px 20px 0 0px; 
	flex: 0 0 auto;
}

.reviews-item-art {
	background-color: #ebebeb;
	position: relative;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 10px;
}

.reviews-item-art:before {
    content: "";
    display: block;
    border: 13px solid transparent;
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 25px;
    left: -26px;
}

.reviews-item-text {
	font-size: 14px;
	max-width: 440px;
	margin: 0 0 5px 0;
}

.reviews-item-author {
	text-decoration: none;
	color: #989898;
}

.buy {
	width: 100%;
}

.buy-title {
	margin: 0;
	text-align: center;
	font-size: 30px;
	color:  #445161;
}

.buy-wrap {
	display: flex;
	justify-content: space-around;
	align-content: flex-end;
	align-items: flex-end;	
}

.buy-complect {
	background-color: #445161;
	border-radius: 10px;
	min-width: 300px;
}
.buy-complect-name {
	display: block;
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
}

.buy-complect-price {
	background-color: #fff;
	min-height: 70px;
	font-size: 40px;
	color: #445161;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 1px 25px 1px; 
}

.buy-complect-list {
	font-size: 14px;
	color: #fff;
	line-height: 20px;
}

.buy-complect-btn {
	display: block;
	font-size: 18px;
	background-color: #fff;
	width: 90%;
	border-radius: 7px;
	min-height: 40px;
	margin: 20px auto;
	color: #445161;
	outline: none;
	text-transform: uppercase;
}

.buy-complect-btn:hover {
	background-color: #445161;
	color: #fff;
}

.buy-complect-btn:active {
	background-color: #fff;
	color: #445161;
}

.contacts {
	width: 100%;
	background-color: #445161;
	padding: 50px 0 0 0;
}

.contacts-title {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 0 0 20px 0;
}

.contacts-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contacts-form {
	min-width: 500px;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	margin-right: 40px; 
}

.contacts-items {
	display: flex;
	flex-direction: column;
	color: #fff;
	padding-left: 40px;
}

.contacts-items span{
	margin-bottom: 30px;
	font-size: 16px;
}

.contacts-items-skype{
	position: relative;
}

.contacts-items-icq{
	position: relative;
}
.contacts-items-email{
	position: relative;
}
.contacts-items-phone{
	position: relative;
}

.contacts-items-skype:before{
	content: "";
	display: block;
	height: 27px;
    width: 25px;
    position: absolute;
    top: -5px;
    left: -35px;
    background-image: url(../img/skype_icon.png);
    background-size: cover;
}

.contacts-items-icq:before {
	content: "";
	display: block;
	height: 27px;
    width: 27px;
    position: absolute;
    top: -5px;
    left: -35px;
	background-image: url(../img/icq_icon.png);
	background-size: cover;
}

.contacts-items-email:before {
	content: "";
	display: block;
	height: 27px;
    width: 27px;
    position: absolute;
    top: -5px;
    left: -35px;
	background-image: url(../img/email_icon.png);
	background-size: cover;
}

.contacts-items-phone:before {
	content: "";
	display: block;
	height: 27px;
    width: 27px;
    position: absolute;
    top: -5px;
    left: -35px;
	background-image: url(../img/phone_icon.png);
	background-size: cover;
}

.contacts-form-name {
	width: 100%;
	min-height: 40px;
	border-radius: 5px;
	margin-bottom: 20px; 
	font-size: 16px; 
	outline: none;
}

.contacts-form-email {
	width: 100%;
	min-height: 40px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 16px;  
	outline: none;
}

.contacts-form-message {
	width: 100%;
	min-height: 170px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 16px; 
	outline: none;
	resize: none;
}

.contacts-form-btn {
	width: 140px;
	border-radius: 5px;
	min-height: 40px;
	margin:0 auto;
	color: #445161;
	font-weight: bold;
	font-size: 16px;
	background-color: #fff;
	outline: none;
	text-transform: uppercase;
}

.contacts-form-btn:hover{
	color: #fff;
	background-color: #445161;
}

.contacts-form-btn:active{
	color: #445161;
	background-color: #fff;
}

.contacts-footer {
	width: 100%;
	background-color: #fff;
	min-height: 25px;
}

.contacts-footer-text {
	text-align: center;
	font-size: 12px;
}
